$background-color:rgb(100, 200, 100);

// NEW INVERT FUNCTION
@function invert-pct( $color, $percent: 100% ) {
	$percent: 100% - $percent;
	@return mix( $color, invert( $color ), $percent );
}

.webkit, .sass, .ruby{
  float:left;
  width:33.33%;
  div{
    height:20px;
    background:$background-color;
  }
}

@for $i from 0 through 10{
  .webkit :nth-child( #{$i} ){
    -webkit-filter: invert( $i * 10% );
  }
  .sass :nth-child( #{$i} ){
    background: invert-pct( $background-color, $i * 10% );
  }
  .ruby :nth-child( #{$i} ){
    background: invert( $background-color, $i * 10% );
  }
}

